/* ROOT */

:root {
    --sp-black: rgba(0, 0, 0, 1);
    --sp-black-op: rgba(0, 0, 0, 0.350);
    --sp-bg-content: rgba(20, 25, 34, 1);
    --sp-user: rgba(128, 128, 128, 1);
    --sp-bg-foot: rgba(40, 40, 40, 1);
    --sp-side-txt: rgba(163, 163, 163, 1);
    --sp-white: rgba(255, 255, 255, 1);
    --sp-geen: rgba(173, 255, 47, 1);
    --sp-font: 'Roboto', sans-serif;

}

/* /ROOT */

/* #region COMMON */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--sp-font);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* #endregion COMMON */

/* #region DEBUG */

.debug .side_bottom {
    background-color: var(--sp-geen);
}

.debug .side_top {
    background-color: red;
}

.debug .banner {
    background-color: gainsboro;
}

.debug #top_menu {
    border: 1px dashed white;
}

.debug #top_menu li {
    background-color: var(--sp-side-txt);
}

.debug #main {
    background-color: palegoldenrod;
}

.debug .card {
    background-color: green;
}

.debug .album,
.debug .artist {
    background-color: blue;
}

.debug #app_footer div {
    border: 1px dashed white;
    width: 300px;
    height: 100%;
}


/* #endregion DEBUG */

/* #region UTILITIES */

/* FLEX */

.flex {
    display: flex;
}

.dir_col {
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* /FLEX */

.unstyle_list {
    list-style: none;
}

/* #endregion UTILITIES */

/* #region TOP */

/* SIDEBAR */

.top {
    height: calc( 100vh - 80px);
    background-color: var(--sp-bg-content);
}

.sidebar {
    width: 55px;
    
    background-color: var(--sp-black);

    align-items: center;

    padding: 0.5rem;
}

.side_top {
    height: calc( 100% - 100px);
    margin-bottom: 2rem;
}

.side_buttons img {
    padding: 0.5rem;
}

[class^='logo_']{
    margin-bottom: 1rem;
}

.menu_desc {
    color: var(--sp-side-txt);
    font-size: 12px;
    font-weight: 400;
}

.side_bottom {
    height: 100px;
}

.pla_t {
    color: white;
    padding: 1rem 0.5rem;
}

.pla_btn {
    border: none;

    width: 35px;
    margin-left: 0.5rem;
    aspect-ratio: 1/1;

    background-color: var(--sp-user);

    cursor: pointer;
}

.create {
    color: var(--sp-side-txt);
    padding: 0.5rem;
    vertical-align: 4px;
    font-size: 14px;
    font-weight: 400;
}

.play_list {
    margin: 1rem 0.5rem;
    height: 250px;

    overflow-y: auto;
}

.pl_list {
    color: var(--sp-side-txt);
    font-size: 12px;
}

.pl_list li {
    padding: 0.5rem 0;
}

.down_desc {
    color: var(--sp-side-txt);
    font-size: 12px;
    font-weight: 400;
}

.user_desc {
    color: var(--sp-white);
    font-size: 12px;
    padding-top: 0.5rem;
}

.user {
    background-color: var(--sp-user);
    background-image: url('/assets/img/profile.svg');
    background-size: cover;

    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 50%;

    margin-top: 0.5rem;
}

.profile {
    justify-content: flex-start;
    align-items: center;
}

.usr_d {
    padding: 0 1rem;
}


/* /SIDEBAR */

.banner {
    height: 85px;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--sp-black-op);
}

.btn_upgrade {
    background-color: var(--sp-black);
    color: var(--sp-white);

    border: 1.5px solid var(--sp-white);
    border-radius: 20px;

    padding: 0.5rem 4rem;
    margin: 0 0.5rem;

    font-size: 11px;
    font-weight: 400;

}

/* TOP MENU */

#top_menu {
    margin-bottom: 1rem;
}

#top_menu a {
    color: var(--sp-side-txt);
    text-transform: uppercase;
}

.categories {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    padding: 1rem;

    font-size: 12px;
    font-weight: 400;

}

/* /TOP MENU */

#main {
    width: 95%;
    height: calc(100vh - 230px);
    margin: auto;

    overflow-y: auto;
}

#main h2 {
    padding: 1rem 1.3rem;
    width: 100%;
}

#main p {
    padding: 0 1.3rem;
    width: 100%;
}

.card {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.album {
    width: 200px;
    aspect-ratio: 1/1;
}

.artist {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* #endregion TOP */

/* #region BOTTOM */

.bottom {
    height: 80px;
    background-color: var(--sp-bg-foot);

    justify-content: space-between;
    align-items: center;
}


/* #endregion BOTTOM */

/* #region RESPONSIVE */

@media screen and (max-width: 1440px) {
    
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
    }

    .col_2 {
        width: calc(100% / 12 * 2);
    }

    .side_buttons .logo_s {
        display: none;
    }
    
    .side_buttons .logo_lg {
        display: block;
        width: 80%;
    }

    .side_nav_lg {
        width: 25%;
    }

    .menu_desc {
        display: inline-block;
        vertical-align: 15px;
    }

    .down_desc {
        display: inline-block;
        vertical-align: 12px;
    }

    .download_lg {
        width: 10%;
        margin: 0.5rem;
    }

    .side_bottom hr {
        border: none;
        height: 1px;
        margin: 4px 0;
        background-color: var(--sp-side-txt);
    }

    .user {
        width: 18%;
    }

    .user_desc {
        display: block;
        font-size: 15px;
    }

    .pla_t {
        display: block;
    }
    
    
}

@media screen and (max-width: 878px) {

    .col_4 {
        width: calc(100% / 12 * 4);
    }

    .side_buttons .logo_s {
        display: none;
    }
    
    .side_buttons .logo_lg {
        display: block;
        width: 80%;
    }

    .side_nav_lg {
        width: 25%;
    }

    .menu_desc {
        display: inline-block;
        vertical-align: 15px;
    }

    .down_desc {
        display: inline-block;
        vertical-align: 12px;
    }

    .download_lg {
        width: 10%;
        margin: 0.5rem;
    }

    .side_bottom hr {
        border: none;
        height: 1px;
        margin: 4px 0;
        background-color: var(--sp-side-txt);
    }

    .user {
        width: 18%;
    }

    .user_desc {
        display: block;
        font-size: 15px;
    }

    .pla_t {
        display: block;
    }
    
    
}

@media screen and (max-width: 639px) {

    .sidebar {
        width: 175px;
    }

    .content {
        width: calc(100% - 175px);
    }

    .col_6 {
        width: calc(100% / 12 * 6);
    }

    .side_buttons .logo_s {
        display: none;
    }
    
    .side_buttons .logo_lg {
        display: block;
        width: 80%;
    }

    .side_nav_lg {
        width: 25%;
    }

    .menu_desc {
        display: inline-block;
        vertical-align: 10px;
    }

    .down_desc {
        display: inline-block;
        vertical-align: 12px;
    }

    .download_lg {
        width: 10%;
        margin: 0.5rem;
    }

    .side_bottom hr {
        border: none;
        height: 1px;
        margin: 4px 0;
        background-color: var(--sp-side-txt);
    }

    .user {
        width: 18%;
    }

    .user_desc {
        display: block;
        font-size: 15px;
    }

    .pla_t {
        display: block;
    }
    
}

@media screen and (max-width: 552px) {

    .sidebar {
        width: 55px;
    }

    .content {
        width: calc(100% - 55px);
    }

    .col_6 {
        width: calc(100% / 12 * 6);
    }
    
    .side_buttons .logo_s {
        display: block;
    }

    .side_buttons .logo_lg {
        display: none;
    }

    .side_nav_lg {
        width: 100%;
    }

    .menu_desc {
        display: none;
    }

    .download_s {
        width: 50%;
        margin: 0.5rem;
    }

    .down_desc {
        display: none;
        
    }

    .side_bottom hr {
        display: none;
    }

    .profile {
        display: block;
    }

    .user {
        width: 100%;
    }

    .user_desc {
        display: none;
    }

    .pla_t {
        display: none;
    }

    .playlist_btn {
        display: none;
    }

    .play_list {
        display: none;
    }
    
}




/* #endregion RESPONSIVE */