/* ROOT */

:root {
    --sp-black: rgba(0, 0, 0, 1);
    --sp-bg-content: rgba(20, 25, 34, 1);
    --sp-user: rgba(128, 128, 128, 1);
    --sp-bg-foot: rgba(40, 40, 40, 1);
    --sp-side-txt: rgba(163, 163, 163, 1);
    --sp-white: rgba(255, 255, 255, 1);
    --sp-geen: rgba(173, 255, 47, 1);
    --sp-font: 'Roboto', sans-serif;

}

/* /ROOT */

/* #region COMMON */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--sp-font);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* #endregion COMMON */

/* #region DEBUG */

.debug .side_bottom {
    background-color: var(--sp-geen);
}

.debug .side_top {
    background-color: red;
}

.debug .banner {
    background-color: gainsboro;
}

.debug #top_menu {
    border: 1px dashed white;
}

.debug #top_menu li {
    background-color: var(--sp-side-txt);
}

.debug #main {
    background-color: palegoldenrod;
}

.debug .card {
    background-color: green;
}

.debug .album,
.debug .artist {
    background-color: blue;
}


/* #endregion DEBUG */

/* #region UTILITIES */

/* FLEX */

.flex {
    display: flex;
}

.dir_col {
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* /FLEX */

.unstyle_list {
    list-style: none;
}

/* #endregion UTILITIES */

/* #region TOP */

.top {
    height: calc( 100vh - 80px);
    background-color: var(--sp-bg-content);
}

.sidebar {
    width: 55px;
    background-color: var(--sp-black);
}

.side_top {
    height: calc( 100% - 90px);
    margin-bottom: 2rem;
}

.side_bottom {
    height: 90px;
}

.banner {
    height: 85px;
    justify-content: flex-end;
    align-items: center;
}

.btn_upgrade {
    background-color: var(--sp-black);
    color: var(--sp-white);
    border: 1.5px solid var(--sp-white);
    padding: 0.5rem 4rem;
    border-radius: 20px;
    margin: 0 0.5rem;

}

#top_menu {
    margin-bottom: 1rem;
}

#top_menu a {
    color: var(--sp-side-txt);
}

#top_menu .unstyle_list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    font-size: 12px;
    font-weight: 400;
}

#main {
    width: 95%;
    height: calc(100vh - 230px);
    margin: auto;

    overflow-y: auto;
}

#main h2 {
    padding: 1rem 1.3rem;
    width: 100%;
}

#main p {
    padding: 0 1.3rem;
    width: 100%;
}

.card {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.album {
    width: 200px;
    aspect-ratio: 1/1;
}

.artist {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* #endregion TOP */

/* #region BOTTOM */

.bottom {
    height: 80px;
    background-color: var(--sp-bg-foot);
}


/* #endregion BOTTOM */

/* #region RESPONSIVE */

@media screen and (max-width: 1440px) {
    
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px);
    }

    .col_2 {
        width: calc(100% / 12 * 2);
    }
}

@media screen and (max-width: 878px) {

    .col_4 {
        width: calc(100% / 12 * 4);
    }
    
}

@media screen and (max-width: 639px) {

    .sidebar {
        width: 175px;
    }

    .content {
        width: calc(100% - 175px);
    }

    .col_6 {
        width: calc(100% / 12 * 6);
    }
    
}

@media screen and (max-width: 552px) {

    .sidebar {
        width: 55px;
    }

    .content {
        width: calc(100% - 55px);
    }

    .col_6 {
        width: calc(100% / 12 * 6);
    }
    
}




/* #endregion RESPONSIVE */